/*
Theme Name: ACSR
Theme URI: http://osp.constantvzw.org/work/acsr-WP/
Author: OSP (http://osp.constantvzw.org) and Jérôme Degive (http://picapica.be)
Author URI: http://osp.constantvzw.org/
Description: Designed and developed by OSP with illustrations by Jérôme Degive. The typeface is Univers Else
http://ospublish.constantvzw.org/foundry/univers-else/
The ACSR (Atelier de Création Sonore Radiophonique) is a centre that pushes for the production of sound
and radio creations, and is located in Brussels, Belgium.
Version: 2.0
License: GNU Affero General Public License v3
License URI: http://www.gnu.org/licenses/agpl-3.0.html
Tags:
Text Domain: acsr
*/
body,
input {
  font-family: "UniversElseRegular", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  font-size: 17.29px;
  line-height: 22.61px;
}
body {
  letter-spacing: 0.133px;
}
a {
  color: inherit;
}
a:hover {
  color: white;
  background-color: black;
}
a.mini-launcher:hover {
  background: none;
  color: black;
}
strong {
  color: white;
  background-color: black;
  padding: 2.66px 6.65px;
  line-height: 0;
  text-decoration: none;
  margin-right: 5.32px;
}
h1 {
  font-size: 34.58px;
  line-height: 34.58px;
  margin-bottom: 10.64px;
}
h2 {
  font-size: 27.93px;
  line-height: 27.93px;
  /*margin-top: 13 * @unit;*/
  margin-bottom: 17.29px;
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  /*letter-spacing: -1.5 * @unit;*/
  font-weight: normal;
}
h2 a {
  /*padding-top: 5 * @unit;*/
  padding-right: 2.66px;
}
h3 {
  font-size: 21.28px;
  line-height: 25.270000000000003px;
}
tt {
  /*font-family: "UniversElseRegular", "DejaVu Sans", Helvetica, Arial, Sans-Serif;*/
  font-family: inherit;
}
img {
  vertical-align: 19.950000000000003px;
}
input {
  border: 1.33px solid #000000;
  color: black;
  background: none;
  max-width: 50%;
}
input[type=submit]:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}
div#container li:before {
  content: "– ";
}
div#container ul.gallery li:before,
ul#blog-bar li:before,
ul#resort li:before {
  content: "";
}
input[type=submit]:hover {
  cursor: pointer;
}
p + h1,
p + h2,
table + h2 {
  margin-top: 34.58px;
}
p + p,
h3 {
  margin-top: 17.29px;
}
thead {
  text-align: left;
}
blockquote {
  margin: 17.29px;
}
sup {
  font-size: 11.97px;
  line-height: 0;
  vertical-align: 0.4em;
}
dt {
  float: left;
}
/* BACKGROUND */
img#texture {
  position: absolute;
  z-index: -100;
}
img#dessin {
  position: absolute;
  z-index: -99;
}
/* STRUCTURE */
div#wrapper {
  padding: 69.16px;
}
div#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
div#main {
  float: left;
  min-width: 837.9000000000001px;
}
div#container {
  width: 587.86px;
  position: relative;
  z-index: 10;
  float: left;
}
/* CONTENT */
div.page:last-child {
  margin-bottom: 90.44px;
}
div.post,
article.post,
article.page,
article.production,
article.attachment,
article.galerie,
.page-title,
.archive-title {
  background-color: #FFFFC0;
  padding: 17.29px;
  margin-bottom: 17.29px;
  width: 587.86px;
}
div.post {
  display: inline-block;
}
div#playlist {
  margin: 17.29px 0;
}
div#playlist.single {
  display: inline-block;
  position: absolute;
  text-align: right;
  margin: 0;
  right: 0;
  top: 13.3px;
}
a.audio.playing {
  background-color: black;
  color: white;
}
p.pistes,
p.equipe {
  white-space: pre-line;
}
p.equipe {
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  text-align: center;
  margin: 17.29px auto;
  width: 75%;
}
div.metadata p {
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  text-decoration: underline;
  text-align: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
div.metadata p + p {
  margin-top: 0;
}
p.bio {
  white-space: pre-line;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-top: solid 1.33px #000000;
}
div.post-it {
  margin-top: 17.29px;
  background-color: yellow;
  padding: 9.31px 17.29px;
}
/* IMAGES IN POSTS/PAGES */
div.entry-content img {
  max-width: 100%;
  margin-bottom: -26.6px;
}
div.entry-content img.size-medium {
  float: left;
  margin: 6.65px 17.29px 0 0;
}
div.wp-caption {
  float: left;
  font-size: 13.3px;
}
div.wp-caption + p {
  /* Lowers the line of wrapped text. */
  margin-top: 17.29px;
}
ul.gallery {
  margin-top: 17.29px;
}
ul.gallery a {
  background: none;
}
ul.gallery li,
ul.gallery li div.gallery-icon,
ul.gallery li img {
  display: inline;
}
ul.gallery img {
  margin-right: 14.63px;
  margin-bottom: 14.63px;
}
div.entry-utility,
.entry-meta {
  /* metadata */
  margin-bottom: 17.29px;
  font-size: 17.29px;
}
img.first-image {
  max-width: 100%;
  margin-top: 34.58px;
}
div.entry-attachment {
  margin-top: 34.58px;
}
span.next-image {
  float: right;
}
/* NAVIGATION PREV./NEXT */
#nav-below {
  padding: 9.31px 17.29px;
  background-color: #FFFFC0;
  width: 100%;
  min-height: 22.61px;
  margin-bottom: 17.29px;
}
div.nav-previous,
div.nav-next {
  display: inline;
  background-color: #FFFFC0;
}
div.nav-next {
  float: right;
}
/* COMMENTS */
div#comments {
  background-color: #FFFFC0;
  min-height: 22.61px;
  padding: 9.31px 17.29px;
  width: 100%;
}
div#comments input[type=text] {
  background-color: #FFFFC0;
  border: none;
  border-bottom: 1.33px solid #000000;
  margin-left: 0.5em;
}
div#comments textarea {
  background-color: #FFFFC0;
  border: 1.33px solid #000000;
  display: block;
  height: 266px;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}
div#comments input[type=submit] {
  background-color: #FFFFC0;
  border: 1.33px solid #000000;
}
div#comments input[type=submit]:hover {
  background-color: yellow;
}
/* PROJETS */
div.has-children div.project-content {
  display: none;
  /*margin: 13 * @unit 0 26 * @unit 0;*/
  /*font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;*/
}
/* des pages avec des sous pages: les trucs d’introduction déroulent pas */
div.has-children div.project-content#project-1793,
div.has-children div.project-content#project-4461,
div.has-children div.project-content#project-4026,
div.has-children div.project-content#project-3201 {
  display: inherit;
}
/* PRODUCTIONS */
div.production-block {
  margin-top: 17.29px;
}
div.audio-list,
div#prod-finies {
  -moz-column-count: 3;
  -moz-column-gap: 34.58px;
  -moz-column-rule: 1.33px dotted #000000;
  -webkit-column-count: 3;
  -webkit-column-gap: 34.58px;
  -webkit-column-rule: 1.33px dotted #000000;
  column-count: 3;
  column-gap: 34.58px;
  column-rule: 1.33px dotted #000000;
  text-align: center;
  margin-top: 17.29px;
}
div#prod-finies div.production-item {
  padding-top: 17.29px;
  padding-bottom: 15.96px;
  display: inline-block;
  width: 100%;
}
div#prod-finies ul.artist {
  margin-bottom: 3.99px !important;
}
div#prod-finies p.genre,
div#prod-finies p.duree,
div#prod-finies p.annee,
div#prod-finies p.category {
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
}
div#prod-finies h3,
div#prod-finies p + p {
  margin-top: 0;
}
div#prod-finies h3 a {
  text-decoration: none;
  font-style: italic;
}
ul.artist a {
  text-decoration: none;
  cursor: help;
  padding: 0 !important;
}
ul.artist li {
  display: inline;
  margin: 0 !important;
}
ul.artist li:before {
  content: "" !important;
}
ul.artist li + li:before {
  content: ", " !important;
}
div#prod-finies.listing {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;
  text-align: left;
}
div#prod-finies.listing div.production-item {
  padding-top: 9.31px;
  padding-bottom: 7.98px;
}
div#prod-finies.listing div.production-item + div.production-item {
  border-top: 1.33px dotted #000000;
}
div#prod-finies.listing h3,
div#prod-finies.listing p {
  display: inline;
  float: left;
  font-size: 17.29px;
  line-height: 25.270000000000003px;
}
div#prod-finies.listing div.caption {
    width: 317px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

div#prod-finies.listing ul.artist {
  display: inline;
  float: left;
}
div#prod-finies.listing ul.artist:after,
div#prod-finies.listing p.genre:after,
div#prod-finies.listing p.duree:after {
  content: ", ";
  margin-right: 6.65px;
}
div#prod-finies.listing div.clip {
  float: right;
  clear: both;
  margin-top: -15.96px;
  padding-right: 35.910000000000004px;
}
div#prod-finies div.artiste-title,
div#prod-finies div.details {
  max-width: 492.1px;
}
ul#resort {
  margin-bottom: 34.58px;
  margin-left: -3.99px;
}
ul#resort li {
  display: inline;
  margin-right: 17.29px;
}
ul#resort li a {
  padding: 0 5.32px;
}
ul#resort a.active {
  color: white;
  background-color: black;
  line-height: 0;
  text-decoration: none;
  margin: 0;
}
div.production-item {
  /* does this work? */
  column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
}
div.production-item.active {
  background-color: black;
  color: white;
}
div.production-item.active a {
  color: white;
}
div.production-item div.clip {
  height: 26.6px;
  padding-top: 5.32px;
  padding-bottom: 2.66px;
}
body.single-production div.entry-meta {
  font-size: 17.29px;
  margin-bottom: 34.58px;
}
body.single-production div.more-details {
  font-size: 17.29px;
  margin-bottom: 34.58px;
  font-family: "UniversElseRegular", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  text-align: center;
  margin: 17.29px auto;
  width: 75%;
}
body.single-production img.play {
  float: left;
  margin-top: 3.99px;
  margin-right: 9.31px;
}
/* the big play button doesn’t get the treatment */
body.single-production .single img.play {
  float: inherit;
  margin-top: inherit;
  margin-right: inherit;
  display: inline-block;
}
div.prod-desc p {
  font-size: 19.950000000000003px;
  line-height: 25.270000000000003px;
}
div.diffusions {
  background-color: lightgray;
}
div.dates p {
  text-align: center;
  float: left;
}
div.dates p + p {
  margin-top: 0;
}
/* RESSOURCES */
div.resource-content {
  display: none;
  margin: 17.29px 0 34.58px 0;
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
}
div.resource-item li {
  margin-bottom: 17.29px;
}
div.resource-content em {
  font-family: "UniversElseRegular", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
}
div.resource-content strong {
  color: black;
  background: none;
  padding: 0;
  line-height: 22.61px;
  margin-right: 0;
  font-family: "UniversElseRegular", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
}
/* BLOG STICKY */
.sticky {
  background-color: #FFAA96 !important;
}
.sticky .news-cat {
  text-align: center;
  font-family: "UniversElseLight", "DejaVu Sans", Helvetica, Arial, Sans-Serif;
  letter-spacing: 2.66px;
  font-size: 13.3px;
}
.sticky h1 {
  text-align: center;
}
.sticky h1 a {
  text-decoration: none;
}
/* BLOG LATEST POSTS */
div.latest-posts {
  width: 641.0600000000001px;
}
div.latest-post {
  background-color: lightgray;
  width: 42%;
  padding: 17.29px;
  float: left;
  height: 266px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 13.3px;
}
div.latest-post:nth-child(odd) {
  margin-right: 13.3px;
}
div.latest-post h1 {
  font-size: 17.29px;
  line-height: 22.61px;
  color: white;
  background-color: black;
  padding: 2.66px 6.65px;
  display: inline-block;
}
div.latest-post h1:hover {
  background-color: yellow;
  color: black;
}
div.latest-post a {
  text-decoration: none;
  background-color: inherit;
}
div.latest-post a:hover {
  color: black;
}
/* BLOG-BAR */
ul#blog-bar {
  width: 44em;
  margin-top: 17.29px;
}
ul#blog-bar li.archive-list {
  width: 20%;
  float: left;
  background-color: Yellow;
  padding: 9.31px 0;
  /*text-align: center;*/
}
ul#blog-bar li.archive-list ul#last-posts {
  padding: 17.29px;
  width: 100%;
  -moz-column-count: 2;
  -moz-column-gap: 17.29px;
  /*-moz-column-rule: 1 * @unit dotted black;*/
  -webkit-column-count: 2;
  -webkit-column-gap: 17.29px;
  /*-webkit-column-rule: 1 * @unit dotted black;*/
  column-count: 2;
  column-gap: 17.29px;
  /*column-rule: 1 * @unit dotted black;*/
}
ul#blog-bar li.archive-list ul#archive {
  padding: 17.29px 7.98px 17.29px 17.29px;
  width: 75%;
  -moz-column-count: 4;
  -moz-column-gap: 17.29px;
  -webkit-column-count: 4;
  -webkit-column-gap: 17.29px;
  column-count: 4;
  column-gap: 17.29px;
}
/*ul#blog-bar li.archive-list ul#categories {
    padding: 13 * @unit 0 13 * @unit 13 * @unit;
    width: 50%;
}*/
#archives-3 .widget-title {
  padding-left: 22.61px;
}
.textwidget {
  padding-left: 26.6px;
}
ul#blog-bar li.archive-list h4 {
  margin-left: 17.29px;
}
ul#blog-bar li ul {
  display: none;
  position: absolute;
  bottom: -17.29px;
  width: 30%;
}
ul#blog-bar li:hover ul {
  display: block;
  background-color: yellow;
}
ul#blog-bar li.archive-list ul li {
  text-indent: -17.29px;
  margin-left: 17.29px;
}
/* MENU */
div#nav {
  text-align: center;
  width: 386.05px;
  position: static;
  margin-top: -51.870000000000005px;
  float: left;
}
div#logo {
  position: relative;
  display: block;
}
div#nav div#logo img {
  position: relative;
}
div#nav div#logo img:hover {
  z-index: 3000;
}
div#nav nav#menu {
  font-size: 21.28px;
  margin-left: 66.6px;
  line-height: 26.6px;
  margin-top: 0px;
  padding: 0px;
  font-weight: bold;
}
div#nav nav#menu li:before {
  content: "";
}
div#nav nav#menu a {
  text-decoration: none;
  padding: 2.66px 7.98px 1.33px;
  background-color: #FFAA96;
}
div#nav nav#menu li {
  padding: 0 2.66px;
  margin: 7.98px 0;
}
div#nav nav#menu a.active {
  background-color: yellow;
}
div#nav nav#menu a:hover,
div#nav nav#menu li.active a {
  background-color: yellow;
  color: black;
}
div#nav nav#menu a#popup {
  font-size: 17.29px;
}
div#nav input[type=text] {
  border: 1.33px solid #ffaa96;
  width: 246.05px;
  height: 22.61px;
  padding: 0;
  float: none;
  background-color: white;
  clear: both;
  display: inline-block;
  max-width: 100%;
}
div#nav input[type=submit] {
  background-color: white;
  border: none;
  border-bottom: 1.33px solid #000000;
  padding: 0;
  float: none;
  clear: both;
  display: inline-block;
}
div#nav input[type=submit]:hover {
  background-color: black;
}
div#nav nav#menu a#player {
  background: none;
  display: block;
  height: 22.61px;
  width: 179.55px;
  padding: 0;
  margin-top: 6.65px;
  margin-left: 17.29px;
  /*    display: none;*/
}
div#nav nav#menu div#le-son-du-mois {
  background-color: black;
  color: white;
  padding: 2.66px 6.65px;
  padding-top: 7.98px;
  text-transform: uppercase;
  margin: auto;
  margin-top: 17.29px;
  width: 39%;
  font-size: 17.29px;
  line-height: 22.61px;
}
div#nav nav#menu img#launcher {
  margin: 17.29px auto 9.31px auto;
  display: block;
  cursor: pointer;
}
div#nav nav#menu div#audio-title {
  background-color: yellow;
  font-size: 17.29px;
  display: inline;
  padding: 3.99px 2.66px;
}
div#audio-title a {
  padding: 2.66px 6.65px;
}
div#nav nav#menu div#languages {
  margin-top: 17.29px;
  font-size: 11.97px;
}
div#nav nav#menu div#languages li {
  display: inline;
  margin-right: 5.32px;
}
div#nav nav#menu div#languages a {
  padding: 2.66px 5.32px 1.33px 2.66px;
}
/* FOOTER */
div#footer {
  clear: both;
  font-size: 11.97px;
}
div#footer * {
  display: inline;
}
/* À PROPOS DE NOUS */
#post-4461 {
  background-color: yellow;
  min-height: 22.61px;
}
#post-4461 h1 {
  font-size: 17.29px;
  line-height: 22.61px;
  display: inline;
  float: left;
  margin-right: 6.65px;
  font-weight: normal;
}
#post-4461 h1 a:after {
  content: ": ";
}
#post-4461 h1 a {
  text-decoration: none;
}
#newsletter-bt {
  display: inline;
}
#newsletter-bt form {
  display: none;
  padding-top: 17.29px;
}
/* SEARCH RESULTS */
body.search-results article.production {
  background-color: yellow;
}
@media print {
  @page {
    size: 21cm 29,7cm;
    margin: 0;
  }
}
ul#resort {
  margin-bottom: 17.29px;
}
#thematiques select {
  border: 0;
  padding: 3.99px;
  margin: 0;
  background: #FFFFC0;
  border: none;
  border-bottom: solid 1.33px #000000;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding-left: 0px;
}
